services:
  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_DB: "twitter_clone"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "adminpassword"
    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - "5432:5432"
volumes:
  db-data:
